
.pagina{

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #FAFAFA;

    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

    overflow: auto;

    

}
.ion-icon{
    color: red;
    
}



/************************ CABEÇALHO **********************/

header{

    width: 100%;
    height: 54px;

    background-color: #FAFAFA;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(219, 219, 219, 1);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

.barrinha-esquerda{
    display: flex;
}

.barrinha-direita{
    margin-right: 215px;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    background-color: white;
}
.logo-insta{
    width: 22px;
    height: 22px;


    margin-right:10px ;
    margin-left: 215px;
}

.logo-insta > a{
text-decoration: none;

}

.linha-vertical{
    width: 1px ;
    height: 22px;
    background-color: rgba(219, 219, 219, 1);
    ;
    
    margin-right: 10px;
}

.nome-insta{
    width: 103px;
    height: 29px;


    margin-right: 214px;
}

.barra-pesquisar{
    width: 215px;
    height: 28px;

    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;

    background-color: rgba(250, 250, 250, 1);
    
    margin-right: 212px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-pesquisar > p{
    display: flex;
    align-items: center;
    text-align: center;

    font-size: 12px;
    font-style: normal;
    font-weight: normal;

    line-height: 14px;

    color: #979797;
    
}

.direct{
   width: 22px;
   height: 22px; 

   margin-right: 20px;
}

.bussola{
    width: 22px;
    height: 22px; 

    margin-right: 20px;

}

.coracao{
    width: 22px;
    height: 22px; 

    margin-right: 20px;

}

.pessoa{
    width: 22px;
    height: 22px; 


}


/************************ CONTEUDO **********************/


.conteudo{
    width: 1366px;
    height: 100vh;
    

    background-color: #FAFAFA;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    margin-top: 180px;

}

.conteudo-esquerda{
    width: 829px;
    height: auto;


    background-color: #FAFAFA;
    position: relative;

}

.separador{
    width: 35px;
    height: 118px;

    z-index: 0;

    background-color: #FAFAFA;

}

.conteudo-direita{
    width: 300px;
    height: auto;


    background-color: #FAFAFA;
    display: flex;
    justify-content: center;

    position: fixed;
    margin-left: 861px;
}

.story{
    width: 614px;
    height: 118px;

    margin-left: 215px;
    margin-bottom: 24px;

    border: 1px solid #dbdbdb ;
    box-sizing: border-box;
    border-radius: 3px;

    position: absolute;
    
    background-color: #FFFFFF;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.caixinha-story{
    width: auto;
    height: 86px;

    margin-left: 18px;

    display: flex;

    background-color: #FFFFFF;
}

.story-icon{
    width: 66px;
    height: 86px;

    margin-right: 14px;

    background-color: white;

    display: inline-block;
    justify-content: center;
    align-items: center;
    
}

.story-icon > p{
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    text-align: center;

}

.story1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 23px;
    top: 19px;
}

.story2{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 102px;
    top: 19px;
}

.story3{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 182px;
    top: 19px;
}

.story4{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 263px;
    top: 19px;
}

.story5{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 343px;
    top: 19px;
}

.story6{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 423px;
    top: 19px;
}

.story7{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 503px;
    top: 19px;
}

.story8{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 583px;
    top: 19px;
}


.postagens{
    margin-top: 142px;
    margin-left: 0px;
}

.posts{
    width: 614px;
    height: 749px;

    margin-top: 60px;
    margin-left: 215px;

    border: 1px solid rgba(219, 219, 219, 1);
}

.topo{
   width: 614px; 
   height: 61px;

   display: inline-flex;
   align-items: center;


   background-color: #FFFFFF;
}

.foto{
    width:612px ;
    height: 612px;

}

.video{
    width: 612px;
    height: 612px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.comentario{
    width: 614px;
    height: 76px;

}

.info-perfil{
    width: 300px;
    height: 600px;

    margin-top: 23px;
}

.topo > img{
    width: 32px;
    height: 32px;

    margin-left: 17px;
    margin-right: 15px;
}

.topo > p{
    width: 109px;
    height: 21px;

    margin-right:408px ;
}

.icones-comentarios{
    width: 614px;
    height: 34px;

    background-color: #FFFFFF;

    display: flex;
    align-items: center;

}

.curtidas{
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;

    background-color: #FFFFFF;
}

.icones-comentarios-esquerda{
    width:86px ;
    height: 22px;

    margin-left: 15px;
    margin-right: 476px;

    display: flex;
    justify-content: space-around;

}

.curtidas > img{
    width: 20px;
    height: 20px;

    margin-left: 17px;
    margin-right: 5px;
}

.curtidas > p{
    width: 387px;
    height: 21px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;
}

.negrito{
    font-weight: bold;
}


/******************* SIDEBAR **********************/

.top-sidebar{
    width: 100%;
    height: 56px;


    margin-bottom: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-sidebar >img{
    margin-right: 17px;
    margin-left: 1px;
}

.top-sidebar-txt{
    display: flex;
    flex-direction: column;

}

.top-sidebar-txt >strong{
    font-weight: bold;
}

.top-sidebar > p{
    width: 182px;
    height: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;

    text-align: left;
}

.mid-sidebar{
    width: 100%;
    height: auto;

}

.mid-sidebar-superior{
    width: 292px;
    height: auto;

    display: flex;
    justify-content: space-between;

}

.mid-sidebar-superior >p1{
    width: 117px;
    height: 15px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;

    color: rgba(142, 142, 142, 1);
    
}

.mid-sidebar-superior > p2{
    width: 55px;
    height: 15px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;
    text-align: right;

    color: rgba(38, 38, 38, 1);
    
}

.mid-sidebar-meio{
    margin-top: 17px;


}

.conjunto-sugestões1{
    margin-top: 16px;
    
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;

}

.nomezinho-sidebar{
    margin-left: 11px;
    width: 126px;
    height: 14px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;

    color: rgba(38, 38, 38, 1);


}

.status-sidebar{
    margin-left: 11px;
    margin-top: 6px;

    width: 143px;
    height: 11px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;

    color: rgba(142, 142, 142, 1);


}

.seguirzinho{
    margin-left: 70px;

    width: 36px;
    height: 11px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;
    text-align: right;

    color: rgba(19, 158, 242, 1);

}

.mid-sidebar-meio > img{
    width: 32px;
    height: 32px;

}

.bot-sidebar{
    margin-top: 33px ;

    width: 100%;
    height: 74px;
    
}

.bot-sidebar > p{
    width: 300px;
    height: 42px;

    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;

    display: flex;
    align-items: center;

    color: #c7c7c7;
}

.footer{
    display: none;
}

/************* RESPONSIVIDADE *****************/

/********* VERSÃO 935PX ************ */


@media (max-width: 935px){


    header{

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .conteudo-direita{
        display: none;
    }

    .footer{
        display: none;
    }
}
/********* VERSÃO 614PX ************ */
@media (max-width:614px){

    .pagina{

        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;

        left: 0;
        right: 0;

        overflow: auto;
    }

    header{
        display: flex;
        align-items: center;
    }

    .nome-insta{
        margin-right: 212px;
    }

    .logo-insta{
        margin-right: 213px;
    }

    .linha-vertical{
        display: none;
    }

    .barra-pesquisar{
        display: none;
    }

    .bussola{
        display: none;
    }

    .coracao{
        display: none;
    }

    .pessoa{
        display: none;
    }

    .footer{
        width: 612px;
        height: 54px;

        left: 1px;
        right: 0;
        bottom: 0;

        position: fixed;

        background-color: rgba(255, 255, 255, 1);
        border: 1px solid #dbdbdb;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ion-icon{
        font-size: 22px;
    }

    .postagens{
        margin-left: -92px;
    }

    .story{
        margin-left: 125px;
    }
}